.earned-fear-cards {
  position: relative;
  height: 100%;
  width: 29%;
  float: left;
  display: flex;
  flex-flow: column;
}

.earned-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 0px;
}
