.fear-stack {
  height: 100%;
  width: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.fear-stack > div {
  height: 90%;
}

.card-stack {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.card-container {
  position: absolute;
  height: 100%;
  width: auto;
  display: inline-block;
}
