.invader-steps {
  float: left;
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
}

.invader-card-holder {
  position: relative;
  border-radius: 3%;
  flex: 1 1 0;
}

.invader-card-holder img {
  width: 90%;
}

.active-phase {
  background-color: #779;
}
