.invader-steps {
  float: left;
  width: 60%;
  position: relative;
  display: flex;
  align-items: center;
}

.invader-card-holder {
  position: relative;
  border-radius: 3%;
}

.active-phase {
  background-color: #779;
}
