.phase {
  color: white;
  border-bottom: 1px dotted white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.phase:last-child {
  border-bottom: unset;
};

.current-phase {
  color: white;
  background-color: #666;
}

.phase-tracker {
  float: left;
  position: relative;
  width: 19%;
  border: 1px solid #999;
}

.phase-flag {
  height: 1em;
}
